<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BPM Visualization</title>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
</head>
<body>
    <h1>BPM Visualization</h1>
    <div id="bpm-plot"></div>
    <script>
        fetch('/data')
            .then(response => response.json())
            .then(data => {
                const bpmValues = data.map(entry => entry.Body.bpm);
                const timestamps = data.map(entry => entry.EnqueuedTimeUtc);


                const trace = {
                    x: timestamps,
                    y: bpmValues,
                    type: 'scatter',
                    mode: 'lines',
                    name: 'BPM'
                };

                const layout = {
                    title: 'BPM Over Time',
                    xaxis: { title: 'Timestamp' },
                    yaxis: { title: 'BPM' }
                };

                Plotly.newPlot('bpm-plot', [trace], layout);
            });
    </script>
</body>
</html>
